label{
 display:inline-block;
 width: 90px;
}

input{
 width: 40px;
}

#evLabel{
 display:inline-block;
 width: 40px;
}

#pokemonInput, #submitButton, #natureInput{
 width: 100px;
}
#container{
 height: 450px;
 width: 100%;
}

#lookupPoke{
position: relative;
display: inline-block;
width: 20%;
margin-right: 50px;
vertical-align: top;
}

/* ** Pokemon Stats  ** */
#pokeStats{
 position:relative;
 display: inline-block;
 width:40%;
 padding-left: 20px;
}

#statHeader{
 position:relative;
 display: inline-flex;
 width: 100%;
 padding: 10px;
 padding-top: 30px;
}

#pokeIcon{
 height: 125px;
 width: 125px;
 border: none;
 align: left;
}
#pokeStats #name{
 padding: 25px;
 position:inherit;
 text-align: center;
 width: 30%;
 padding-left: 35px;
}

#tableIV{
 position:relative;
 width:77%;
 padding-top:30px;
}

#pokeStats td{
 width: 15%;
 text-align:center;
}

#general{
position:relative;
display: inline-block;
vertical-align: top;
width:37%;
}

